<section>
  <div class="container">
    <div class="card img-fluid" style="width:100%">
      <img class="card-img-top" src="/assets/images/map.png" alt="Card image" style="width:100%">
      <div class="card-img-overlay">
          <div class="card bg-dark text-white card-cad">
            <div class="card-body">
              <button type="button" class="btn btn-warning style-button" routerLink="/register">Cadastrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
