<!--The content below is only a placeholder and can be replaced.-->
<!-- Tag de chamada nav.component -->
<div>
  <app-nav></app-nav>
</div>
<!-- Tag de chamada nav.component -->
<div style="text-align:center">
  <h1>
      <div class="card bg-warning text-white">
          <div class="card-body"><strong>Welcome to {{ title }}!</strong></div>
      </div>
  </h1>
</div>

<!-- Tag home.component -->
<router-outlet></router-outlet>
<!-- Tag home.component -->

<!-- Tag footer.component -->
<div>
    <app-footer></app-footer>
</div>
<!-- Tag footer.component -->
