<section>
  <div class="card bg-dark text-white">
    <div class="card-body title-card">
      <span>Cadastro Confirmado</span>
      <div class='row'>
        <div class='col-6'>
          <div class="col s2"><br>
            <img src="assets/images/user.png" alt="user" class="circle responsive-img">
            <!-- notice the "circle" class -->
          </div>
        </div>
        <div class='col-6'></div>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h5>Feed</h5>
        </li>
        <li class="list-group-item">
          <h6><strong>Título</strong></h6>
          <span>Lorem ipsum iaculis etiam orci nibh, leo nec sollicitudin eleifend arcu libero, auctor convallis venenatis torquent. libero lacinia fames arcu massa aliquam posuere suspendisse nec, sem curae auctor scelerisque dictum imperdiet aenean per, in senectus tempus fames volutpat vulputate tortor.</span>
        </li>
      </ul>
    </div>
  </div>
  <div>

  </div>
</section>
